---
interface Props {
  route: string
}

const { route } = Astro.props

const parsedRoute = route.split("/").pop()
---

<li id={route}><a href={route === "home" ? "/app" : route}>{parsedRoute}</a></li>


<style>
  .current-path {
    color: purple
  }
</style>