---
import Layout from "../../../layouts/Layout.astro";
import Navbar from "../../../layouts/Navbar.astro";
import Footer from "../../../layouts/Footer.astro";
---

<Layout title="Workout">
    <Navbar />
    <main>
        <h1>super functional WORKOUT</h1>
    </main>
    <Footer />
</Layout>